{# templates/produit/ajouter.html.twig #}

<h1>Ajouter un Produit KECH/moto</h1>

{{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prix) }}
    {{ form_row(form.description) }}
    {{ form_row(form.image) }}
    {{ form_row(form.submit) }}
{{ form_end(form) }}
